html, body { height: 100%; width: 100%; }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.hide-scroll::-webkit-scrollbar { display: none; }
input,button { border: none; outline: none; background-color: transparent; }